
.destination_page .ui-content #london_bg {
    height: 380px;
    position: absolute;
    z-index: 0;
    object-fit: cover;
}

.ui-content .dest_sel_content_block {
    position: relative;
    margin-top: 60px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 85%; /* Need a specific value to work */
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
}

.dest_sel_content_block .dest_sel_internal_block .dest_sel_heading {
    font-size: 25px;
    margin-bottom: 5px;
    display: inline-flex;
    width: 70%;
}

.dest_sel_content_block .dest_sel_internal_block .dest_sel_heading .dest_sel_heading_name {
    margin-right: 20px;
}

.dest_sel_content_block .dest_sel_internal_block .dest_sel_heading .dest_star_rating {
    /* position: absolute;
    bottom: 20px;
    right: 20px; */
    margin-top: 5px;
    width: 60px;
    color: white;
    font-size: 18px;
}

.dest_sel_content_block .dest_sel_internal_block .dest_sel_heading .dest_star_chip {
    background-color: rgb(248, 93, 66);
    border-radius: 15px;
    padding: 0 5px 0 5px;
    line-height: 20px;
}

.dest_sel_content_block .dest_sel_internal_block .dest_sel_heading .dest_star_chip i {
    font-size: 20px; 
    vertical-align: -2px
}

.dest_sel_content_block .dest_sel_internal_block .dest_sel_favourite {
    top: 10px;
    right: 15px;
    position: absolute;
    height:100px;
    margin:0 auto;
}

.dest_sel_content_block .dest_sel_internal_block .dest_sel_favourite i {
    cursor:pointer;
    padding: 10px 12px 8px;
    background:#fff;
    border-radius:50%;
    border: 1px solid;
    box-shadow: 5px 10px 8px  #888888;
    border-color: rgb(128, 128, 128);
    display:inline-block;
    margin:0 0 15px;
    color:rgb(238, 8, 8);
    transition:.2s;
}

.dest_sel_content_block .dest_sel_internal_block .dest_sel_main_container{
    position: relative;
    height: 280px;
    margin-bottom: 10px;
}

.dest_sel_content_block .dest_sel_main_container #dest_sel_image_container {
    width:60%;
    padding: 0px !important;
    margin:0px !important;
    float: left;
}

.dest_sel_content_block .dest_sel_main_container #dest_sel_image_container img {
    object-fit: cover;
    height: 280px;
}

.dest_sel_content_block .dest_sel_main_container #dest_sel_details_container {
    position: relative; 
    padding-top: 15px;
    width:40%;
    text-align:center;
    float: left;
}

.dest_sel_content_block .dest_sel_main_container #dest_sel_details_container .dest_side_texts{
    text-align:left;
    float: left;
}

.dest_sel_content_block .dest_sel_main_container #dest_sel_details_container .dest_top_table_elements tr {
    height:50px;
}

.dest_sel_content_block .dest_sel_main_container #dest_sel_details_container .dest_bottom_table_elements .table_price {
    font-size: 22px;
    color: #0174cf; 
}

.dest_sel_content_block .dest_sel_buttons {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px;
    width: 20%;
}

.dest_sel_content_block .dest_sel_buttons .book_btn {
    background:#0174cf; 
    color: white; 
    border-color: transparent; 
    font-size: 15px;
}

.dest_sel_content_block .dest_sel_description {
    position: relative; 
    padding: 5px;
    background-color: rgb(228, 253, 249);
    text-align: justify;
}

/* Thumbnails */

.dest_sel_content_block .review_card_section {
    position: relative ;
    padding: 0px !important;
}

.dest_sel_content_block .review_card_section #review-card-resolution-breakpoint {
    width: 50%;
    float: left;
}

.dest_sel_content_block .review_card_section .dest_review_card {
    position: relative;
    display: inline-block;
    border-radius: 15px; /* 15px rounded corners */
    margin: 10px;
    padding: 16px;
    box-shadow: 0px 0px 6px #c4c4c4 !important;
}

.dest_sel_content_block .review_card_section .dest_review_card .thumb_image_div {
    width: 100px;
    height: 100px;  
}

.dest_sel_content_block .review_card_section .dest_review_card img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;     
    object-fit: cover !important;
}

.review_card_section .dest_review_card .dest_reviewer{
    display: inline-flex;
    margin-bottom: 12px;
}

.review_card_section .dest_review_card .dest_reviewer_info {
    padding-left: 8px;
    display: grid;
}

.review_card_section .dest_review_card .dest_reviewer_info p{
    margin: 2px;
}

.review_card_section .dest_review_card .dest_reviewer_raiting {
    display: inline-flex;
    min-inline-size: -webkit-fill-available;
    align-items: center;
}

.review_card_section .dest_review_card .dest_reviewer_raiting #star_rating_holder {
    margin-right: 8px;
}

.review_card_section .dest_review_card .reply_btn {
    float: right;
    margin-right: 12px;
}

.review_card_section .dest_review_card .reply_btn p {
    font-weight: bold;
    margin: 0px !important;
}

.review_card_section #reply_button {
    padding: 0px 4px !important;
    margin: 0px !important;
    box-shadow: none !important;
    color: #404040 !important;
}

.review_card_section .dest_review_card #des_reply {
    margin-left: 24px;
    display: none;
}

.review_card_section .dest_review_card #reply_space {
    padding-left: 24px;
}

.review_card_section .dest_review_card .dest_replier {
    display: inline-grid;
    margin-top: 8px;
    padding-top: 8px;
    grid-template-columns: 38px auto 90px;
    min-inline-size: -webkit-fill-available;
    border-top-style: solid;
    border-top-color: #f6f6f6;
    border-top-width: thick;
}

.review_card_section .dest_review_card .dest_replier #replier_time {
    margin-top: 4px;
    justify-self: flex-end;
}

.review_card_section .dest_review_card #dest_review_reply {
    margin: 12px 0px;
}

.review_card_section .dest_review_card .dest_replier_info {
    padding-left: 8px;
    display: grid;
}

.review_card_section .dest_review_card .dest_replier_info p{
    margin: 2px;
}


@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {

    .ui-content .dest_sel_content_block {
        width: 100%;
        padding: 0px;
        margin-top: 10px;
    }

    .dest_sel_content_block .dest_sel_main_container #dest_sel_image_container {
        width:100%;
        float: left;
    }

    .dest_sel_content_block .dest_sel_main_container #dest_sel_details_container {
        width:100%;
        text-align:center;
        float: left;
        font-size: 13px;
    }

    .dest_sel_content_block .dest_sel_internal_block .dest_sel_heading {
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .dest_sel_content_block .dest_sel_internal_block .dest_sel_heading #dest_sel_heading_name {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 15px;
    }

    .dest_sel_content_block .dest_sel_internal_block .dest_sel_heading .dest_sel_favourite {
        top: 8px;
        right: 15px;
        position: absolute;
        height:80px;
        margin:0 auto;
    }

    .dest_sel_content_block .dest_sel_internal_block .dest_sel_heading .dest_sel_favourite i {
        cursor:pointer;
        padding: 10px 12px 8px;
        box-shadow: 5px 5px 8px  #888888;
        display:inline-block;
        margin:0 0 15px;
    }

    .dest_sel_content_block .dest_sel_internal_block .dest_sel_heading .dest_star_rating {
        width: 50px;
        font-size: 15px;
    }

    .dest_sel_content_block .dest_sel_internal_block .dest_sel_heading .dest_star_chip i {
        font-size: 15px; 
        vertical-align: -2px
    }

    .dest_sel_content_block .dest_sel_main_container #dest_sel_details_container .dest_top_table_elements tr {
        width: 50%;
        float: left;
    }
    
    .dest_sel_content_block .dest_sel_buttons {
        position: absolute;
        top: 470px;
        width: 30%;
        right: -225px;
        margin-top: 0px;
    }

    .dest_sel_content_block .dest_sel_buttons .book_btn {
        font-size: 12px;
    }

    .dest_sel_content_block .dest_sel_description {
        margin-top: 180px;
        padding: 15px;
    }

    .dest_sel_content_block .review_card_section #review-card-resolution-breakpoint {
        width: 100%;
        float: left;
    }

    .dest_sel_content_block .review_card_section h2 {
        margin-left: 20px;
        margin-bottom: 8px;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 850px) {

}

@media only screen
	and (min-device-width: 812px)
	and (max-device-width: 900px) {


    .ui-content .dest_sel_content_block {
        width: 100%;
        margin-top: 10px;
        padding: 0px;
    }

    .dest_sel_content_block .review_card_section #review-card-resolution-breakpoint {
        width: 100%;
        float: left;
    }

    .review_card_section .dest_review_card .review_card_section h2 {
        margin-left: 20px;
    }

    .dest_sel_content_block .dest_sel_main_container #dest_sel_image_container {
        width: 40% !important;
    }

    .dest_sel_content_block .dest_sel_internal_block .dest_sel_heading {
        width: 60% !important;
        position: absolute;
        margin-left: 42%;
        margin-top: 8px;
        z-index: 2;
    }

    .dest_sel_content_block .dest_sel_internal_block .dest_sel_heading .dest_sel_favourite {
        top: 0px !important;
        right: 24px !important;
    }

    .dest_sel_content_block .dest_sel_main_container #dest_sel_details_container {
        width: 60% !important;
        margin-top: 24px;
    }
    
    .dest_sel_content_block .dest_sel_buttons {
        position: absolute;
        right: 24px !important;
        left: auto !important;
        top: 62vh;
        margin: 0px !important;
    }

    .dest_sel_content_block .dest_sel_description {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .dest_side_texts {
        width: -webkit-fit-available;
    }

    .dest_sel_description, .review_card_section {
        margin: 24px 24px !important;
    }
	
}

@media only screen and (min-device-width: 1024px) {

    .ui-content img{
        height: 450px;
        width: 100%;
        object-fit: cover;
    }
}

 