#page_footer {
	background-color: #404040 !important;
	margin-top: 24px;
	height: 280px;
	padding-bottom: 60px;
}

#to_top_button {
	float: right;
	margin-right: 16px;
	cursor: pointer;
}

#to_top_button:hover {
  filter: brightness(150%);
}

#to_top_button:onclick {
  filter: brightness(100%);
}

.footer_content {
	width: -webkit-fill-available;
	padding: 8px;
	color: #ffffff;
	text-align: center;
}

.footer_content .social_media_icon {
	padding: 8px;	
}