#common_header {
	background-color: #ffffff !important;
	height: 36px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 86px;
	padding-left: 86px;
	width: -webkit-fill-available;
	border-bottom-style: solid;
	border-bottom-color: #c4c4c4;
	border-bottom-width: thin;
	text-align: center;
	z-index: 100;
	position: fixed;
}

#common_header_logo {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

#common_header_profile_icon {
	margin-right: -62px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline-block;
	float: right;
}

#back_btn {
	margin-left: -62px;
	padding-top: 6px;
	padding-bottom: 6px;
	float: left;
	cursor: pointer;
}

#back_btn:hover {
	filter: brightness(50%);
}

#back_btn:onclick {
	filter: brightness(100%);
}