.toggle {
	border-radius: 12px !important;
	background-color: #ffffff !important;
	margin: 16px;
	padding: 5px 8px 5px 4px;
	box-shadow: 2px 4px 6px #c4c4c4;
}

.toggle-buttons {
	margin-left: none !important;
	margin-right: none !important;
	border-radius: 8px !important;
	/* box-shadow: 2px 4px 6px #c4c4c4; */
}

#my-hunts-page .my_hunts_card {
	border-radius: 12px;
	height: 200px;
	max-width: 100%;
	margin: 8px 4px 8px 4px;
}

#my-hunts-page .my_hunts_card img {
	border-radius: 12px 0px 0px 12px; /* Add rounded corners to the top left and the top right corner of the image */
	height: 200px;
	width: 100%;
	object-fit: cover;
}

#my-hunts-page #my_hunt_resolution_breakdown {
	width: 100%;
}

#my-hunts-page .card_image_section {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	width: 35%;
	display: grid;
	float: left;
}

#my-hunts-page .card_image_section p, .button_space p2 {
	opacity: 0;
}

#my-hunts-page .tour_review {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 97%;
}

#my-hunts-page .my_hunts_card_content {
	background-color: white;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	display: grid;
	padding: 0 0 0 8px;
	text-align: left;
	height: 200px;
}

#my-hunts-page .my_hunts_card_content h3, p2 {
	width: fit-content;
	margin-top: 4px;
	margin-bottom: 4px;
}

#my-hunts-page .my_hunts_tour_date, .tour_review {
	color: #c4c4c4;
}

#my-hunts-page .my_hunts_upcoming_details {
	padding-top: 8px;
	display: grid;
	height: fit-content;
	grid-template-columns: auto auto;
	grid-column-gap: 4px;
}

#my-hunts-page .feedback_btn {
	width: 158px !important;
	background-color: #0174cf !important;
	color: white !important;
	text-shadow: none !important;
}

#my-hunts-page .rating p2 {
    	vertical-align: text-top;
}

#my-hunts-page .rating img {
	width: 110px;
	height: auto;
}

#my-hunts-page .button_space {
	padding-top: 8px;
	display:inline-block;
	width: 95%;
}

#my-hunts-page .button_space .feedback_btn {
	float: right;
}

#my-hunts-page .form_button_container {
	display: grid !important;
	grid-auto-flow: column;
	justify-content: space-around;
}

#my-hunts-page #my_hunts_feedback #form_comment {
	height: 80px !important;
	min-width: 240px;
}

#my-hunts-page .ui-popup-screen.in {
	background-color: #404040;
}

#my_hunts_feedback-popup {
	min-width: 280px;
}

#my-hunts-page #my_hunts_feedback {
	background-color: white;
	text-align: center;
	padding: 16px !important;
}

#my-hunts-page #my_hunts_feedback .submit_btn {
	background-color: #0174cf;
	color: white;
}

#my-hunts-page #my_hunts_feedback .cancel_btn {
	color: #0174cf;
}


@media only screen
	and (min-device-width: 812px)
	and (max-device-width: 900px) {
	#my-hunts-page #my_hunt_resolution_breakdown {
		width: 50%;
		float: left;
	}
	
}

@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 850px) {

}

@media only screen and (min-device-width: 1024px) {

	
}