#navbar {
	background-color: #ffffff !important;
	position: fixed;
    	bottom: 0;
	width: 100%;
}

.navBarIcon {
	padding: 4px;
}

.nav-bar-item {
	white-space: normal;
}

.nav-bar-item-option {
	padding: 0px;
	font-weight: bolder;
}

.nav-bar-item.ui-link.ui-btn.ui-btn-active {
	box-shadow: none !important;
	background-color: transparent;
	border-color: transparent;
}