#navbar {
	background-color: #ffffff !important;
	position: fixed;
    	bottom: 0px;
	height : 60px;
	width: 100%;
}

.navBarIcon {
	padding-top: 2px;
}

//.nav-bar-item {
//	white-space: normal;
//}

.nav-bar-item-option {
	margin: 1px;
	padding: 0px;
	font-weight: bolder;
}

.nav-bar-item.ui-link.ui-btn.ui-btn-active {
	box-shadow: none !important;
	background-color: transparent;
	border-color: transparent;
}