#nav_bar {
	background-color: #ffffff !important;
	position: fixed;
    	bottom: 0px;
	height : 60px;
	width: 100%;
}

.nav_bar_icon {
	padding-top: 2px;
}

/* //.nav_bar_item {
//	white-space: normal;
//} */

.nav_bar_item_option {
	margin: 1px;
	padding: 0px;
	font-weight: bolder;
}

.nav_bar_item.ui-link.ui-btn.ui-btn-active {
	box-shadow: none !important;
	background-color: transparent;
	border-color: transparent;
}