/*@font-face {
    
}*/

body {
    height: 100%;
    margin: 0;
}

hr {
	height: 1px;
	border: none !important;
	width: 97%;
	background-color: #c4c4c4;
}

h1 {
	font-size: 32px;
	font-weight: bold;
}

h2 {
	font-size: 23px;
	font-weight: bold;
}

h3 {
	font-size: 20px;
	font-weight: bold;
}

p {
	font-size: 16px;
	font-weight: normal;
}

p2 {
	font-size: 14px;
	font-weight: normal;
}

/* Header
--------------------------------------------------------------------------------*/
#home_header {
	width: -webkit-fill-available;
	position: fixed;
    z-index: 100;
}

#home_header #profile_link {
    position: absolute;
    right: 24px;
    top: 15px;
}

#header_collapsible .ui-collapsible-heading{
	background: white;
	border-bottom-color: #c4c4c4;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-radius: 0px !important;
}

#header_collapsible .ui-body-inherit{
	background-color: white;
}

#header_collapsible .ui-collapsible-heading-toggle{
	height: 36px;
	margin-left: 16px;
	margin-right: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 0px;
	padding-left: 38px;
	border: none;
	text-align: center;
	white-space: nowrap;
}

#home_header_logo {
	display: inline-block;
	margin-top: 10px;
	margin-bottom:10px;
	/* margin-left:6px;
	width: 88.6%; */
}

#home_header_profile_icon {
	float: right;
	margin-right: 8px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#header_collapsible {
	border-radius: 12px !important;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #ffffff;
}

#header_collapsible .ui-collapsible-heading-toggle {
	background-color: #ffffff;
}

#header_collapsible .ui-collapsible-heading .ui-btn {
	margin-left: 16px;
	margin-right: 16px;
	border-radius: 0px !important;
	background-color: #ffffff;
	box-shadow: none !important;
	text-align: center;
}

#header_collapsible .ui-collapsible-content {
	height: auto;
	border-color: #c4c4c4 !important;
	white-space: nowrap;
}

#header_collapsible .ui-input-search {
	box-shadow: none !important;
	margin: 0px;
}

#header_collapsible .header_search {
	width: 100%;
	height: 56px;
	text-align: center;
}

#header_collapsible .header_search_box {
	display: inline-block;
	padding: 4px 2px 4px 4px;
	width: 70%;
}

#header_collapsible .ui-input-search {
	height: 37.5px;
}

#header_collapsible .header_search_btn {
	display: inline-block;
	width: auto;
}

#home_search_btn {
	border-radius: 12px !important;
	background-color: #0174CF !important;
	color: #ffffff !important;
	border: 0;
	margin-top: 4;
	margin-bottom: 4;
	padding-top: 9;
	padding-bottom: 9;
	box-shadow: none !important;
	text-shadow: none !important;
}

/* Footer 
--------------------------------------------------------------------------------*/
#page_footer {
	background-color: #404040 !important;
	margin-top: 24px;
	height: 280px;
    padding-top: 12px;
	padding-bottom: 130px;
}

#to_top_button {
	cursor: pointer;
    position: absolute;
    right: 24px;
}

#to_top_button:hover {
  filter: brightness(150%);
}

#to_top_button:onclick {
  filter: brightness(100%);
}

.footer_content {
	width: -webkit-fill-available;
	padding: 8px;
	color: #ffffff;
	text-align: center;
}

.footer_content .social_media_icon {
	padding: 8px;	
}

/* Nav bar
--------------------------------------------------------------------------------*/
#nav_bar {
    z-index: 200;
	background-color: #ffffff !important;
	position: fixed;
    	bottom: 0px;
	height : 60px;
	width: 100%;
}

.nav_bar_icon {
	padding-top: 2px;
}

.nav_bar_item_option {
	margin: 1px;
	padding: 0px;
	font-weight: bolder;
}

.nav_bar_item.ui-link.ui-btn.ui-btn-active {
	box-shadow: none !important;
	background-color: transparent;
	border-color: transparent;
}

/* Landing Page 
---------------------------------------------------------------------------------*/
.landing h1{
	text-align: center;
	font-family: Noto Sans; 
	font-weight: 900; 
	font-size: 70px; 
	line-height: 50px; 
	letter-spacing: 0.01em; 
	color: #404040;
}
.landing p{
	text-align: center;
	font-family: Noto Sans; 
	font-weight: normal; 
	font-size: 39.6px; 
	line-height: 60px; 
	letter-spacing: 0.01em; 
	color: #404040;
}
.landing #foo{
	height: 100%;
}
.landing .one{
	height: 70%;
}
.landing .wrapper {
    text-align: center;
}
.landing .buttons{
    top: 50%;
	margin:50px; 
	height:100px; 
	width:500px; 
	box-shadow: 4px 3px #DCDCDC; 
	font-family: Noto Sans; 
	font-size: 40px; 
	font-color:white; 
	border-radius:45px; 
	color:white; 
	background-color:#0174CF; 
	border:none;
}
.landing .two{
	height: 70%;
}
.landing .three{
	height: 70%;
}
.landing #human{
	margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Login Page 
---------------------------------------------------------------------------------*/
.login_screen .form_div{
    height: 500px;
    width: 300px;
    margin-top: 80%;
    margin-left: 10%;
}
.login_screen .ui-input-text{
    color: white;
    min-height: 2.2em;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    line-height: 1.4em;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 15px;
    width: -webkit-fill-available;
}
.login_screen A {text-decoration: none;} 
.login_screen .anchor_h4{
    font-family: Noto Sans;
    font-size: 15px; 
    font-weight: 500;
    color: white;
    margin-top: 5px; 
    margin-bottom: 30px;
    text-align: right;
}
.login_screen .wrapper_log {
    text-align: center;
}
.login_screen #buttons_log {
    margin-left: auto;
    margin-right: auto;
    height:41px; 
    width:215px; 
    font-family: Noto Sans; 
    font-size: 15px; 
    font-weight: 900;
    font-color:white; 
    border-radius:45px; 
    color:#0174CF; 
    background-color:white; 
    border:none;
}
.login_screen .label_form{
    font-family: Noto Sans; 
    font-size: 15px; 
    font-weight: 500;
    color:white;
}

/* Sign Up Page
---------------------------------------------------------------------------------*/
.sign_up .form_div {
    height: 500px;
    width: 300px;
    margin-top: 15%;
    margin-left: 10%;
}

.sign_up .ui-input-text {
    color: white;
    min-height: 2.2em;
    text-align: left;
    border-color: white;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    line-height: 1.4em;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 15px;
    width: -webkit-fill-available;
}

.sign_up A {
    text-decoration: none;
}

.sign_up .anchor_button {
    height: 26px;
    width: 58px;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.sign_up .anchor_h4 {
    font-family: Noto Sans;
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 5%;
    text-align: left;
}

.sign_up .wrapper_sign {
    margin-top: 15%;
    text-align: center;
}

.sign_up #buttons_sign {
    margin-left: auto;
    margin-right: auto;
    height: 41px;
    width: 215px;
    font-family: Noto Sans;
    font-size: 15px;
    font-weight: 900;
    font-color: white;
    border-radius: 45px;
    color: #0174CF;
    background-color: white;
    border: none;
}

.sign_up .label_form {
    font-family: Noto Sans;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.sign_up h1 {
    text-align: center;
    font-family: Noto Sans;
    font-weight: 900;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #ffffff;
}

.sign_up p {
    text-align: center;
    font-family: Noto Sans;
    font-weight: normal;
    font-size: 17px;
    line-height: 0;
    letter-spacing: 0.01em;
    color: #ffffff;
}

/* Forgot Password Page
---------------------------------------------------------------------------------*/
.forgot_pass .form_div {
    height: 500px;
    width: 300px;
    margin-top: 15%;
    margin-left: 10%;
}

.forgot_pass .ui-input-text {
    color: white;
    min-height: 2.2em;
    text-align: left;
    border-color: white;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    line-height: 1.4em;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 15px;
    width: -webkit-fill-available;
}

.forgot_pass A {
    text-decoration: none;
}

.forgot_pass .anchor_button {
    height: 26px;
    width: 58px;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.forgot_pass .anchor_h4 {
    font-family: Noto Sans;
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 5%;
    text-align: left;
}

.forgot_pass .wrapper_fpass {
    margin-top: 15%;
    text-align: center;
}

.forgot_pass #buttons {
    margin-left: auto;
    margin-right: auto;
    height: 41px;
    width: 215px;
    font-family: Noto Sans;
    font-size: 15px;
    font-weight: 900;
    font-color: white;
    border-radius: 45px;
    color: #0174CF;
    background-color: white;
    border: none;
}

.forgot_pass .label_form {
    font-family: Noto Sans;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.forgot_pass h1 {
    text-align: center;
    font-family: Noto Sans;
    font-weight: 900;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #ffffff;
}

.forgot_pass p {
    text-align: center;
    font-family: Noto Sans;
    font-weight: normal;
    font-size: 17px;
    line-height: 0;
    letter-spacing: 0.01em;
    color: #ffffff;
}

/* Destination Page
---------------------------------------------------------------------------------*/

/* My Hunts Page
---------------------------------------------------------------------------------*/

/* QR Scanner
---------------------------------------------------------------------------------*/

#scan_qr_page {
    display: grid;
    grid-template-columns: auto;
    align-content: flex-start;
}

#scan_qr_page .scan_instructions {
    padding: 24px;
    background-color: #0174CF;
    height: fit-content;
}

#scan_qr_page h2, #scan_qr_page p {
    color: white;
}

#scan_qr_page .scan_bg {
    width:-webkit-fill-available;
    text-align:-webkit-center;
    background-color:#404040;
    height: -webkit-fill-available;
}

#scan_qr_page .scan_box {
    border-radius: 8px;
    text-align:center;
    width:65vw;
    height:65vw;
    margin-top: 50%;
    margin-bottom: 50%;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    background: linear-gradient(180deg,#13ff00,rgba(0,0,128,0)) no-repeat 0% 0%,
    linear-gradient(0deg,#13ff00,rgba(0,0,128,0)) no-repeat 0% 100%,
    linear-gradient(180deg,#13ff00,rgba(0,0,128,0)) no-repeat 100% 0%,
    linear-gradient(0deg,#13ff00,rgba(0,0,128,0)) no-repeat 100% 100%,
    linear-gradient(90deg,#13ff00,rgba(0,0,128,0)) no-repeat 0% 0%,
    linear-gradient(90deg,#13ff00,rgba(0,0,128,0)) no-repeat 0% 100%,
    linear-gradient(-90deg,#13ff00,rgba(0,0,128,0)) no-repeat 100% 0%,
    linear-gradient(-90deg,#13ff00,rgba(0,0,128,0)) no-repeat 100% 100%;
    background-size: 6em 12px, 6em 12px, 6em 12px, 6em 12px, 12px 6em, 12px 6em, 12px 6em, 12px 6em;
}

#scan_qr_page #qr_scan {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: fill;
    padding: 8px;
    background-color: #404040;
}

/* Booking
---------------------------------------------------------------------------------*/

.book .booking_details h1 {
    text-align: center;
    font-family: Noto Sans;
    font-weight: 900;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #ffffff;
}

.book .booking_details .bk_depature {
    color: #ffffff;
    margin-left: 53%;
    margin-top: 8%;
}

.book .booking_details .bk_duration {
    margin-top: 9%;
    margin-left: 32%;
}

.book .booking_details p {
    font-family: Noto Sans;
    font-size: 14px;
    line-height: 0;
    letter-spacing: 0.01em;
    color: #ffffff;
}

.book .booking_details .bk_arrival {
    color: #ffffff;
    margin-left: 53%;
    margin-top: 8%;
}

.book .booking_card {
    padding-bottom: 1%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 15px;
}

.book .booking_card p {
    margin: 0;
    padding: 5%;
    padding-bottom: 0;
    font-family: Noto Sans;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #404040;
}

.book .booking_card .ui-select {
    margin-left: 5%;
    margin-right: 5%;
}

.book .booking_card .bk_checkbox {
    padding-bottom: 1%;
}

.book .booking_card .bk_datepick {
    margin: 5%;
}

.book .booking_buttons {
    margin-top: 12%;
    text-align: center;
}

.book .booking_buttons .bk_button {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    text-align: center;
}

/* Booking Ticket
---------------------------------------------------------------------------------*/


/* Treasure hunt
---------------------------------------------------------------------------------*/
#treasure_hunt_content {
	margin-top: 60px;
    height: auto;
    padding: 0px;
    text-align: center;
    position: fixed;
    width: -webkit-fill-available;
}

#treasure_hunt_content #search_section {
	background: #f6f6f6;
    padding: 16px 16px 12px 16px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

#treasure_hunt_content #search_section h2 {
    margin-top: 6px;
	margin-bottom: 2px;
}

#treasure_hunt_content #search_section p2 {
    margin-top: 2px;
	margin-bottom: 24px;
}

#treasure_hunt_content .game_search_box {
    display: inline-grid;
	width: 85% !important;
    grid-template-columns: auto 40px;
    border-style: solid;
    border-radius: 12px;
    border-width: thin;
    margin-top: 24px;
    margin-bottom: 2px;
    padding: 2px;
    background-color: white;
}

.game_search_box a{
    width: 40px;
    padding: 0px;
    margin: 0px !important; 
    border-radius: 12px !important;
}

.game_search_box .ui-input-search {
    height: 26px !important;
    margin-top: 14px !important;
    margin-bottom: 4px !important;
}

.game_search_box input {
    min-height: 26px !important;
    padding: 1px 8px 1px 14px !important;
}

.game_search_box .ui-input-text {
    border: none !important;
    box-shadow: none !important;
    margin: 0px;
}

/* Always set the map height explicitly to define the size of the div element that contains the map. */
#treasure_hunt_page #map {
    height: 395px;
}

#treasure_hunt_content #location_section {
    height: 124px;
	background: #f6f6f6;
    margin-top:-15px;
    padding: 16px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    text-align: left;
    z-index: 99; 
    position: relative;
}

#treasure_hunt_selected_name {
    margin-top: 6px; 
    margin-bottom:2px;
}

#treasure_hunt_selected_details {
    margin-top:4px; 
    margin-bottom:16px;
}

#treasure_hunt_content #location_section div {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

#treasure_hunt_duration {
    margin-top:2px;
    margin-bottom:2px;
}

#treasure_hunt_status {
    color: #0174cf;
    margin-top:24px;
    margin-bottom: 2px;
    position: absolute;
}

#treasure_hunt_page #game_button {
    width:120px;
    background:#0174cf;
    color: white;
}

.toggle {
	border-radius: 12px !important;
	background-color: #ffffff !important;
	margin: 16px;
	padding: 5px 8px 5px 4px;
	box-shadow: 2px 4px 6px #c4c4c4;
}

.toggle-buttons {
	margin-left: none !important;
	margin-right: none !important;
	border-radius: 8px !important;
	/* box-shadow: 2px 4px 6px #c4c4c4; */
}

/* Media Query for iPhones */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {

}

/* Media Query for iPads */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {

}


/* Media Query for Macs */

@media only screen and (min-width: 1300px) {
    
}