@font-face {
    font-family: 'Caviar-Dreams';
    src: url('../fonts/Caviar-Dreams.ttf.woff') format('woff'),
    url('../fonts/Caviar-Dreams.ttf.svg#Caviar-Dreams') format('svg'),
    url('../fonts/Caviar-Dreams.ttf.eot'),
    url('../fonts/Caviar-Dreams.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Caviar-Dreams';
    height: 100%;
    margin: 0;
}

hr {
    background-color: #000;
    border-color: #000;
    color: #000;
}

/* Header */

/* Footer */

/* Nav Bar */

/* Landing Page */

/* Login Page */

/* Sign Up Page */

/* Forgot Password Page */

/* Destination Page */

/* My Hunts Page */

.toggle {
	border-radius: 12px !important;
	background-color: #ffffff !important;
	margin: 16px;
	padding: 5px 8px 5px 4px;
	box-shadow: 2px 4px 6px #c4c4c4;
}

.toggle-buttons {
	margin-left: none !important;
	margin-right: none !important;
	border-radius: 8px !important;
	/* box-shadow: 2px 4px 6px #c4c4c4; */
}

/* Media Query for iPhones */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {

}

/* Media Query for iPads */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {

}


/* Media Query for Macs */

@media only screen and (min-width: 1300px) {

}